.section-enterprise-shares-header .esh__top {
  min-height: 80px;
  max-height: 104px;
  overflow: hidden;
}

.section-enterprise-shares-header .esh__nav-list,
.section-enterprise-shares-header .esh__nav-link {
  min-height: 50px;
}

@media screen and (max-width: 749px) {
  .section-enterprise-shares-header .esh__top {
    min-height: 64px;
    max-height: none;
    overflow: visible;
  }
}